@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  @include media-breakpoint-down(sm) {
    .value, .title {
      font-weight: nb-theme(font-weight-bold);
    }

    .title {
      font-size: nb-theme(font-size-sm);
    }

    .value {
      font-size: nb-theme(font-size-xlg);
    }
  }

  @include media-breakpoint-down(is) {
    .value {
      margin-top: 0.5rem;
    }
  }
  nb-card{
      border-radius: 8px;
      box-shadow: 5px 5px #888888;
      margin-right: 20px;
  }
  nb-card-header {
      font-size: 22px;
  }

  li {
      font-size: 17px;
  }

  .similar, .stats{
	    width:50%;
      height:300px;
	    max-height: 300px;
	    overflow-y: auto;
  }



}
